body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    color: white;
    text-align: center;
}

.header {
    text-align: center;
    background-color: #004d40;
    color: white;
    padding: 20px;
}

.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card h5 {
    margin: 0;
    font-size: 1.2em;
    color: #333;
}

.card p {
    color: #666;
}

.card .btn {
    background-color: #007bff;
    text-align: center;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    display: inline-block;
    text-decoration: none;
    margin-top: 10px;
    cursor: pointer;
}

.card .btn:hover {
    background-color: #0056b3;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f2f2f2;
}

.table-danger {
    background-color: #dc3545;
    color: white;
}

.table-warning {
    background-color: #ffc107;
    color: white;
}

.table-info {
    background-color: #17a2b8;
    color: white;
}

.table-success {
    background-color: #28a745;
    color: white;
}

.table-blue {
    background-color: blue;
    color: white;
}

.table-green {
    background-color: green;
    color: white;
}

.footer, header{
    text-align: center;
    background-color: #355070;
    color: white;
    padding: 10px;
    bottom: 0;
    width: 100%;
}


.mainhome{
    background-color: #a81d4d;
}

.img-fluid{
    width: 40rem;
}

.imagenes{
    width: 200px;
    object-fit: cover;
}

.navbar-brand img{
    height: 3rem;
}

header, footer{
    min-height: 6vh;
}
